{% extends 'navbar_page.html' %}

{% block page-js %}
  <script language="javascript">

  var clock = Date.now();


  function saveStat (appt_id, status) {
    var data = new FormData();
    data.set('status',status);
    var url = "/appointments/" + appt_id;
    $.ajax({
      url: url,
      type: "POST",
      data: data,
      processData: false,
      contentType: false,
      error: function (a, b, c) {
        console.log("Failed to write to server! " + a.responseText + b);
        console.log(a);
      },
      success: function (data) {
        console.log("success", data);
      }
    });
  }

  // WHen dr changes status of a patient, the row is removed from whatever table its in and inserted
  // into whatever table it should go to (e.g. a pt in the waiting room with new status of In Session moves
  // to the examTable).  The row can be used as-is in the new table except its final cell holding the
  // dropdown menu needs to be replaced so it has appropriate menu selections for the new table.
  function moveToTable ($rowElt, $tbody, menuItems, selectedOption) {
    var appt_id = $rowElt.data('appointment-id');
    var $ddTd = $rowElt.find('td').last();
    $ddTd.empty(); // eliminate the dropdown menu out of the last cell in the row

    // create new dropdown, set initially to selectedOption
    var dd = '<div class="dropdown">' +
        '              <button class="btn btn-primary dropdown-toggle" type="button" ' +
        '                      data-toggle="dropdown">' + selectedOption +
        '                <span class="caret"></span></button>' +
        '              <ul class="dropdown-menu">';
    // add in the menu items to the dropdown
    for (var [stat, menuLabel] of Object.entries(menuItems))
      dd += '<li><a class="status" data-stat="' +stat+ '" data-appointment-id="' +appt_id+ '">' +menuLabel+ '</a></li>'
    dd += '</ul></div>';
    $ddTd.append(dd); // add the cell to the row
    $tbody.append($rowElt); // add the row to table

  }

  function alterExamRowTime ($row) {
    // store the cur time as the exam starttime in the row data
    $row.attr('data-exam-starttime', new Date().toISOString());
    // make the time-waited td be a duration td set to 0
    var $td = $row.find('.time-waited');
    $td.html('');
    $td.attr('class', 'duration');
  }

  function alterWaitingRowTime ($row) {
    // store the cur time as the checkin time stored in row data
    $row.attr('data-checkin-time', new Date().toISOString());
    // if the row has a .duration td get rid of it and replace with a time-waited
    var $durtd = $row.find('.duration');
    if ($durtd) {
      $durtd.html('');
      $durtd.attr('class', 'time-waited');
    }
  }

  function statusUpdate (aElt, appointmentId, newStatus) {
    saveStat(appointmentId, newStatus);

    // if status is complete, remove the row
    var $row = aElt.closest("tr");
    if (newStatus === "complete")
      $row.remove();
    else if (newStatus === 'waiting') {
      $row.remove();
      // TODO: Some ugliness here because I've allowed patients in exam to be sent back to waiting.
      // It means the duration td needs to be changed back to a time-waited td with a 0
      alterWaitingRowTime($row);
      moveToTable($row, $('#waitingTableBody'), {'exam': 'In Session', 'absent': 'No Show'}, 'Checked In')
    }
    else if (newStatus === 'exam') {
      $row.remove();
      alterExamRowTime($row); // change the time-waited td to a duration td
      moveToTable($row, $('#examTableBody'), {'complete': 'Complete', 'waiting': 'Checked In'}, 'In Session')
    }
  }


  function toHM (mins, addColor=false) {
    var h = Math.floor(mins / 60);
    var mins = mins % 60;
    var res = "";
    if (h >= 1)
      res += h + ":";
    if (mins >= 10)
      res += mins.toString();
    else if (h >= 1)
      res += "0" + mins.toString();
    else
      res += mins.toString();
    if (addColor) {
      var color = 'red';
      if (h < 1 && mins < 20 && mins > 15)
        color = 'orange';
      else if (h < 1 && mins < 15)
        color = 'black';
      return "<font color='" + color + "'>" + res + "</font>"

    }
    else
      return res;

  }

  // return the elapsed time as HH:MM string
  function calcElapsedTime (startTime) {
    var ms = Date.now()- Date.parse(startTime);
    // want as minutes
    return Math.round(ms / (60 * 1000));
  }

  // The .time-waited td holds how long patient has been in waiting rm.  The timestamp of when status became Checked In is
  // held in the tr's data-checkin-time.  We compute the time diff between now and checkin time and put this in the time-waited td.
  function updateWaitingTableTimes () {
    $('#waitingTableBody tr').each(function () {
      var checkinTime = $(this).data('checkin-time');  // rows in waiting table have checkin-time in yyyy-mm-ddThh:mm:ss format
      var scheduledTime = $(this).data('scheduled-time');  // rows in waiting table have scheduled-time in yyyy-mm-ddThh:mm:ss format
      var timeSinceCheckin = calcElapsedTime(checkinTime); // TODO Maybe this shouldn't matter.  Ignore showing.
      var timeBehindSchedule = calcElapsedTime(scheduledTime);
      if (timeBehindSchedule > 0)
        // show as time-behind-scheduled/time-since-checkin
        $(this).find('.time-waited').html(toHM(timeBehindSchedule, true)); // set content of the time-waited td to minutes

    })
  }

  // The .duration td holds how long patient has been in exam rm.  The timestamp of when status became Checked In is
  // held in the tr's data-checkin-time.  We compute the time diff between now and checkin time and put this in the time-waited td.
  function updateExamTableTimes () {
    $('#examTableBody tr').each(function () {
      var starttime = $(this).data('exam-starttime');  // rows in exam table have start times in yyyy-mm-ddThh:mm:ss format
      elapsedTimeMin = calcElapsedTime(starttime);
      $(this).find('.duration').html(toHM(elapsedTimeMin)); // set content of the duration td to minutes

    })
  }

  // Cycle through the exam table rows updating each duration
  // Cycle through the waiting table rows updating each overtime
  // happens on an interval of every 60 seconds.
  function updateTimes () {
    console.log("updating times");
    updateWaitingTableTimes();
    updateExamTableTimes();
  }

  $( document ).ready(function () {
    // status dropdown items click handling
    $(document).on('click', '.status', function () {
      var $e = $(this);
      var stat = $e.data('stat');
      var proceed = true;
      if (stat === 'complete')
          proceed = confirm("Proceed with status change to " + $e.text());
      if (proceed) {
        $e.parents(".dropdown").find('.btn').html($e.text() + ' <span class="caret"></span>');
        $e.parents(".dropdown").find('.btn').val($e.data('stat'));
        statusUpdate($e, $e.attr('data-appointment-id'), $e.data('stat'));
      }
    });

    setInterval(updateTimes, 10*1000);


  });

  </script>
{% endblock %}


{% block body %}

<h3>In Exam Rooms</h3>
  <table class="table table-bordered">
    <thead>
      <th class="col-sm-1">time</th>
      <th class="col-sm-1">duration</th>
      <th class="col-sm-2">First</th>
      <th class="col-sm-2">Last</th>
      <th class="col-sm-4">Reason</th>
      <th class="col-sm-1">Status</th></thead>
    <tbody id="examTableBody">
    {% for a in appointments %}
      {% if a.status == 'In Session' %}

        <tr data-appointment-id="{{ a.appointment_id }}" data-exam-starttime="{{ a.exam_starttime }}">
          <td>{{a.scheduled_time_12hr}}</td>
          <td class="duration" ></td>
          <td>{{a.first_name}}</td>
          <td>{{a.last_name}}</td>
          <td>{{a.reason}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ a.status }}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a class="status" data-stat="complete" data-appointment-id="{{ a.appointment_id }}">Complete</a></li>
                <li><a class="status" data-stat="waiting" data-appointment-id="{{ a.appointment_id }}">Checked In</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

<h3>In Waiting Room</h3>
  <table class="table table-bordered">
    <thead>
      <th class="col-sm-1">time</th>
      <th class="col-sm-1">Waiting time</th>
      <th class="col-sm-2">First</th>
      <th class="col-sm-2">Last</th>
      <th class="col-sm-5">Reason</th>
      <th class="col-sm-1">Status</th>
    </thead>
    <tbody id="waitingTableBody">
    {% for a in appointments %}
      {% if a.status == 'Checked In' or a.status == 'No Show'%}
        <tr data-appointment-id="{{ a.appointment_id }}" data-scheduled-time="{{ a.scheduled_time }}" data-checkin-time="{{ a.checkin_time }}">
          <td >{{a.scheduled_time_12hr}}</td>
          <td class="time-waited"></td>
          <td>{{a.first_name}}</td>
          <td>{{a.last_name}}</td>
          <td>{{a.reason}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ a.status }}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a class="status" data-stat="absent" data-appointment-id="{{ a.appointment_id }}">No Show</a></li>
                <li><a class="status" data-stat="exam" data-appointment-id="{{ a.appointment_id }}">In Session</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

<h3>Later Appointments</h3>
    <table class="table table-bordered">
      <thead>
        <th class="col-sm-1">time</th>
        <th class="col-sm-1"></th>
        <th class="col-sm-2">First</th>
        <th class="col-sm-2">Last</th>
        <th class="col-sm-5">Reason</th>
        <th class="col-sm-1">Status</th>
      </thead>
    {% for a in appointments %}
      {% if a.status != 'Checked In' and a.status != 'In Session'%}
            <tr>
                <td>{{a.scheduled_time_12hr}}</td>
                <td></td>
                <td>{{a.first_name}}</td>
                <td>{{a.last_name}}</td>
                <td>{{a.reason}}</td>
                <td>{{ a.status }}</td>
            </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
  <div class="col-sm-2" style="background-color:yellow">
    statistics will go here
  </div>
</div>
<!--{{ doctor }}-->
{% endblock %}